# Analyzing CIA Factbook Data Using SQL

## Introduction

In this project we are going to analyze some data from the [CIA World](https://www.cia.gov/library/publications/the-world-factbook/) Factbook that contains compendium of statistics about all the countries on earth.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [2]:
%%sql
SELECT *
    FROM sqlite_master
    WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
SELECT *
    FROM facts
    LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Here is a description of all the columns in the database:
- name - The name of the country.
- area- The country's total area (both land and water).
- area_land - The country's land area in square kilometers.
- area_water - The country's waterarea in square kilometers.
- population - The country's population.
- population_growth- The country's population growth as a percentage.
- birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
- death_rate - The country's death rate, or the number of death a year per 1,000 people.

## Summary Statistics

In [5]:
%%sql
SELECT MIN(population) AS min_pop, 
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop,
       MAX(population_growth) AS max_pop
    FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

It is suspecious that the minimum population for at least a country is 0 and the maximum population for a country is more than 7.2 billion.

## Exploring Outliers

In [9]:
%%sql
SELECT *
    FROM facts
    WHERE population == (SELECT MAX(population)
                            FROM facts);

 * sqlite:///factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

The database included a row including data for the whole world which indeed has a population of around 7.2 billion. We need to exclude this row in further analysis.

In [7]:
%%sql
SELECT *
    FROM facts
    WHERE population == (SELECT MIN(population)
                            FROM facts);

 * sqlite:///factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

The data for Antartica is correct given by the Factbook page on [Antartica](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html).

## Recompute Summary Statistics

In [15]:
%%sql
SELECT MIN(population) AS min_pop, 
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop,
       MAX(population_growth) AS max_pop
        FROM facts
        WHERE name <> 'World'

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

## Calculate Averages

In [16]:
%%sql
SELECT AVG(population) AS avg_population,
       AVG(area) AS avg_area
    FROM facts
    WHERE name <> 'World'

 * sqlite:///factbook.db
Done.

[(32242666.56846473, 555093.546184739)]

## Explore Densely Populated Countries

In [12]:
%%sql
SELECT *
    FROM facts
    WHERE population > (SELECT AVG(population)
                           FROM facts) 
    AND area < (SELECT AVG(area)
                   FROM facts)
    ORDER BY population DESC;

 * sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54)]

In the above table we listed the countries that are most dense in terms of population.

## Country With Most People and Highest Growth Rate

In [18]:
%%sql 
SELECT name, MAX(population) AS max_pop
    FROM facts
    WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[('China', 1367485388)]

In [20]:
%%sql
SELECT name, MAX(population_growth) AS max_growth_rate
    FROM facts
    WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02)]

## Exploring Water and Land Data

In [25]:
%%sql
SELECT name, CAST(area_water AS FLOAT)/area_land AS water_land_ratio
    FROM facts
    WHERE water_land_ratio = (SELECT MAX(CAST(area_water AS FLOAT)/area_land) AS water_land_ratio
                                 FROM facts);

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 905.6666666666666)]

In [26]:
%%sql 
SELECT name, area_water, area_land
    FROM facts
    WHERE area_water > area_land

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 54340, 60), ('Virgin Islands', 1564, 346)]

## Exploring Birth Rate and Death Rate Data

In [28]:
%%sql
SELECT name, birth_rate
    FROM facts
    WHERE birth_rate = (SELECT MAX(birth_rate)
                           FROM facts);

 * sqlite:///factbook.db
Done.

[('Niger', 45.45)]

In [29]:
%%sql 
SELECT name, birth_rate, death_rate
    FROM facts
    WHERE death_rate > birth_rate;

 * sqlite:///factbook.db
Done.

[('Austria', 9.41, 9.42),
 ('Belarus', 10.7, 13.36),
 ('Bosnia and Herzegovina', 8.87, 9.75),
 ('Bulgaria', 8.92, 14.44),
 ('Croatia', 9.45, 12.18),
 ('Czech Republic', 9.63, 10.34),
 ('Estonia', 10.51, 12.4),
 ('Germany', 8.47, 11.42),
 ('Greece', 8.66, 11.09),
 ('Hungary', 9.16, 12.73),
 ('Italy', 8.74, 10.19),
 ('Japan', 7.93, 9.51),
 ('Latvia', 10.0, 14.31),
 ('Lithuania', 10.1, 14.27),
 ('Moldova', 12.0, 12.59),
 ('Monaco', 6.65, 9.24),
 ('Poland', 9.74, 10.19),
 ('Portugal', 9.27, 11.02),
 ('Romania', 9.14, 11.9),
 ('Russia', 11.6, 13.69),
 ('Serbia', 9.08, 13.66),
 ('Slovenia', 8.42, 11.37),
 ('Ukraine', 10.72, 14.46),
 ('Saint Pierre and Miquelon', 7.42, 9.72)]

## Explore Population to Area Ratio

In [31]:
%%sql
SELECT name, ROUND(CAST(population AS FLOAT)/area, 2) AS pop_area_ratio
    FROM facts
    ORDER BY pop_area_ratio DESC;

 * sqlite:///factbook.db
Done.

[('Macau', 21168.96),
 ('Monaco', 15267.5),
 ('Singapore', 8141.28),
 ('Hong Kong', 6445.04),
 ('Gaza Strip', 5191.82),
 ('Gibraltar', 4876.33),
 ('Bahrain', 1771.86),
 ('Maldives', 1319.64),
 ('Malta', 1310.02),
 ('Bermuda', 1299.93),
 ('Sint Maarten', 1167.32),
 ('Bangladesh', 1138.07),
 ('Guernsey', 847.18),
 ('Jersey', 838.74),
 ('Barbados', 675.82),
 ('Mauritius', 656.78),
 ('Taiwan', 650.78),
 ('Aruba', 623.12),
 ('Lebanon', 594.68),
 ('Saint Martin', 588.04),
 ('San Marino', 541.31),
 ('Korea, South', 492.53),
 ('Rwanda', 480.74),
 ('West Bank', 475.32),
 ('Nauru', 454.29),
 ('Tuvalu', 418.04),
 ('Netherlands', 407.96),
 ('Marshall Islands', 398.85),
 ('Israel', 387.55),
 ('Burundi', 386.0),
 ('India', 380.77),
 ('Belgium', 370.94),
 ('Haiti', 364.33),
 ('Comoros', 349.43),
 ('Philippines', 336.66),
 ('Sri Lanka', 336.13),
 ('Japan', 335.84),
 ('Curacao', 334.25),
 ('Grenada', 321.78),
 ('Guam', 297.4),
 ('El Salvador', 291.88),
 ('Vietnam', 284.86),
 ('American Samoa', 273.08),
 ('Jamaica', 268.42),
 ('Saint Lucia', 266.11),
 ('Saint Vincent and the Grenadines', 263.82),
 ('United Kingdom', 263.08),
 ('Puerto Rico', 260.92),
 ('Pakistan', 250.08),
 ('Trinidad and Tobago', 238.37),
 ('Liechtenstein', 235.15),
 ('Germany', 226.47),
 ('British Virgin Islands', 221.55),
 ('Luxembourg', 220.52),
 ('Dominican Republic', 215.3),
 ('Nepal', 214.37),
 ('Cayman Islands', 212.47),
 ('Antigua and Barbuda', 209.13),
 ('Korea, North', 207.26),
 ('Italy', 205.27),
 ('Seychelles', 203.14),
 ('Sao Tome and Principe', 201.25),
 ('Saint Kitts and Nevis', 198.99),
 ('Switzerland', 196.76),
 ('Nigeria', 196.55),
 ('Qatar', 189.44),
 ('Andorra', 182.86),
 ('Anguilla', 180.42),
 ('Gambia, The', 174.13),
 ('Kosovo', 171.85),
 ('Kuwait', 156.5),
 ('Uganda', 153.92),
 ('Isle of Man', 153.05),
 ('Malawi', 151.62),
 ('Micronesia, Federated States of', 149.88),
 ('Tonga', 142.57),
 ('China', 142.49),
 ('Guatemala', 137.01),
 ('Cabo Verde', 135.38),
 ('Czech Republic', 134.97),
 ('Indonesia', 134.41),
 ('Togo', 133.0),
 ('Thailand', 132.48),
 ('Kiribati', 130.35),
 ('Denmark', 129.52),
 ('Cyprus', 128.55),
 ('Akrotiri', 127.64),
 ('Poland', 123.33),
 ('Dhekelia', 120.77),
 ('European Union', 118.84),
 ('Portugal', 117.55),
 ('Azerbaijan', 112.94),
 ('Northern Mariana Islands', 112.81),
 ('Tokelau', 111.42),
 ('Slovakia', 111.04),
 ('Ghana', 110.37),
 ('Wallis and Futuna', 109.95),
 ('Hungary', 106.39),
 ('Albania', 105.37),
 ('Moldova', 104.78),
 ('France', 103.38),
 ('Austria', 103.32),
 ('Armenia', 102.76),
 ('Turkey', 101.35),
 ('Cuba', 99.51),
 ('Dominica', 98.01),
 ('Slovenia', 97.84),
 ('Spain', 95.27),
 ('Costa Rica', 94.21),
 ('Benin', 92.78),
 ('Serbia', 92.63),
 ('Malaysia', 92.51),
 ('Syria', 92.15),
 ('Romania', 90.89),
 ('Jordan', 90.86),
 ('Ethiopia', 90.07),
 ('Egypt', 88.36),
 ('Cambodia', 86.77),
 ('Iraq', 84.54),
 ('Burma', 83.24),
 ('Timor-Leste', 82.77),
 ('Swaziland', 82.68),
 ('Sierra Leone', 81.95),
 ('Greece', 81.66),
 ('Macedonia', 81.52),
 ('Kenya', 79.13),
 ('Croatia', 78.89),
 ('Honduras', 78.03),
 ('Bosnia and Herzegovina', 75.53),
 ('Morocco', 74.62),
 ('Brunei', 74.53),
 ('Ukraine', 73.61),
 ("Cote d'Ivoire", 72.24),
 ('Senegal', 71.04),
 ('Georgia', 70.75),
 ('Samoa', 69.86),
 ('Ireland', 69.62),
 ('United Arab Emirates', 69.14),
 ('Burkina Faso', 69.04),
 ('French Polynesia', 67.84),
 ('Tunisia', 67.46),
 ('Uzbekistan', 65.27),
 ('Bulgaria', 64.82),
 ('Lesotho', 64.16),
 ('Mexico', 61.97),
 ('Norfolk Island', 61.39),
 ('Tajikistan', 56.85),
 ('Ecuador', 55.96),
 ('Eritrea', 55.51),
 ('Virgin Islands', 54.23),
 ('Tanzania', 53.89),
 ('Turks and Caicos Islands', 53.04),
 ('Montserrat', 51.38),
 ('Yemen', 50.64),
 ('Afghanistan', 49.93),
 ('Cameroon', 49.93),
 ('Fiji', 49.76),
 ('Iran', 49.64),
 ('Panama', 48.49),
 ('Guinea', 47.91),
 ('Guinea-Bissau', 47.78),
 ('Montenegro', 46.85),
 ('Palau', 46.33),
 ('Belarus', 46.19),
 ('Nicaragua', 45.32),
 ('Lithuania', 44.17),
 ('South Africa', 44.03),
 ('Cocos (Keeling) Islands', 42.57),
 ('Cook Islands', 41.69),
 ('Colombia', 41.04),
 ('Madagascar', 40.56),
 ('Liberia', 37.67),
 ('Zimbabwe', 36.42),
 ('Faroe Islands', 36.03),
 ('Djibouti', 35.7),
 ('Congo, Democratic Republic of the', 33.85),
 ('United States', 32.7),
 ('Venezuela', 32.1),
 ('Mozambique', 31.65),
 ('Latvia', 30.76),
 ('Laos', 29.19),
 ('Kyrgyzstan', 28.33),
 ('Estonia', 27.98),
 ('Equatorial Guinea', 26.41),
 ('Saint Helena, Ascension, and Tristan da Cunha', 25.31),
 ('Brazil', 23.99),
 ('Peru', 23.69),
 ('Bahamas, The', 23.39),
 ('Saint Pierre and Miquelon', 23.38),
 ('Chile', 23.16),
 ('Vanuatu', 22.34),
 ('Sweden', 21.77),
 ('Solomon Islands', 21.54),
 ('Zambia', 20.02),
 ('Sudan', 19.4),
 ('Bhutan', 19.32),
 ('Uruguay', 18.96),
 ('South Sudan', 18.69),
 ('Paraguay', 16.68),
 ('Somalia', 16.65),
 ('Algeria', 16.6),
 ('New Zealand', 16.58),
 ('Finland', 16.2),
 ('Norway', 16.08),
 ('Angola', 15.74),
 ('Argentina', 15.62),
 ('Belize', 15.13),
 ('New Caledonia', 14.62),
 ('Papua New Guinea', 14.42),
 ('Congo, Republic of the', 13.9),
 ('Mali', 13.67),
 ('Saudi Arabia', 12.91),
 ('Christmas Island', 11.33),
 ('Turkmenistan', 10.72),
 ('Oman', 10.62),
 ('Bolivia', 9.83),
 ('Central African Republic', 8.65),
 ('Russia', 8.33),
 ('Kazakhstan', 6.66),
 ('Gabon', 6.37),
 ('Niue', 4.58),
 ('Botswana', 3.75),
 ('Libya', 3.64),
 ('Suriname', 3.54),
 ('Canada', 3.52),
 ('Mauritania', 3.49),
 ('Guyana', 3.42),
 ('Iceland', 3.22),
 ('Australia', 2.94),
 ('Namibia', 2.68),
 ('Western Sahara', 2.15),
 ('Mongolia', 1.91),
 ('Pitcairn Islands', 1.02),
 ('Falkland Islands (Islas Malvinas)', 0.28),
 ('Greenland', 0.03),
 ('Svalbard', 0.03),
 ('Chad', None),
 ('Niger', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]